body {
  font-family: 'Segoe UI', sans-serif;
  background: #f3f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 360px;
  text-align: center;
}

h2 {
  color: #1971c2;
  margin-bottom: 10px;
}

input {
  padding: 12px;
  width: 90%;
  font-size: 16px;
  margin-top: 15px;
  border: 2px solid #adb5bd;
  border-radius: 8px;
}

button {
  margin-top: 20px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  background-color: #1971c2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  font-size: 18px;
  color: #343a40;
  font-weight: bold;
}